<section class="benefits">
  <div class="container benefits__container">
    <h2 class="visually-hidden">Benefits</h2>
    <div class="benefits__benefit benefit">
      <div class="benefit__text">
        <h3 class="benefit__title">Automated Reports & Widget Alerts</h3>
        <p class="benefit__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
          nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae
          nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus
          pulvinar sit amet.
        </p>
      </div>
      <div class="benefit__image">
        <picture>
          <source srcset="img/report.avif" type="image/avif" />
          <source srcset="img/report.webp" type="image/webp" />
          <img loading="lazy" src="img/report.jpg" class="image" alt="charts" />
        </picture>
      </div>
    </div>
    <div class="benefits__benefit benefit benefit--reverse">
      <div class="benefit__text">
        <h3 class="benefit__title">Fully customizable to address your needs</h3>
        <p class="benefit__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
          nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae
          nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus
          pulvinar sit amet.
        </p>
      </div>
      <div class="benefit__image">
        <picture>
          <source srcset="img/custom-address.avif" type="image/avif" />
          <source srcset="img/custom-address.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/custom-address.jpg"
            class="image"
            alt="charts"
          />
        </picture>
      </div>
    </div>
    <div class="benefits__benefit benefit">
      <div class="benefit__text">
        <h3 class="benefit__title">Pre-built Dashboard Templates</h3>
        <p class="benefit__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
          nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae
          nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus
          pulvinar sit amet.
        </p>
      </div>
      <div class="benefit__image">
        <picture>
          <source srcset="img/calendar.avif" type="image/avif" />
          <source srcset="img/calendar.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/calendar.jpg"
            class="image"
            alt="calendar"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
