<section class="hero">
  <div class="hero__bg">
    <div class="hero__bg-decor hero__bg-decor--left">
      <svg class="">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </div>
    <div class="hero__bg-decor hero__bg-decor--right">
      <svg class="">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </div>
  </div>
  <div class="container-right hero__container">
    <div class="hero__content">
      <div class="hero__left">
        <h1 class="hero__title">
          Monitor your business on real-time dashboard
        </h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
          nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae
          nibh nunc mattis imperdiet sed nullam.
        </p>
        <button class="btn btn-reset btn--accent">Try for free</button>
      </div>
      <div class="hero__right">
        <picture>
          <source srcset="img/screen.avif" type="image/avif" />
          <source srcset="img/screen.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/screen.jpg"
            class="image hero__picture hero__picture--main"
            width="804"
            height="554.57"
            alt="screen"
          />
        </picture>
        <picture>
          <source srcset="img/screen.avif" type="image/avif" />
          <source srcset="img/screen.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/screen.jpg"
            class="image hero__picture hero__picture--support"
            width="361"
            height="246.68"
            alt="screen"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
