.footer {
  padding-top: 4.2rem;
  padding-bottom: 4.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 2.6rem;
  color: $text-dark-gray;
  text-align: center;
  letter-spacing: -0.02em;
}
