.header {
  position: absolute;
  width: 100%;
  z-index: 100;

  &__container {
    text-align: center;
  }

  &__logo {
    padding-top: 2.5rem;
    color: $light-color;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-right: 4.6rem;
    font-size: 4rem;
    font-weight: 600;
    color: inherit;
  }

  &__logo-image {
    padding-top: 1rem;
  }

  &__logo-text {
    position: relative;
    padding-left: 0.75rem;
  }
}
