.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;

  &__item {
    &:not(:last-child) {
      color: $primary-color;
      transition: color 0.15s ease-in;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__link {
    color: inherit;

    &::after {
      content: "▶";
      margin-left: 2rem;
    }
  }
}
