.choose-us {
  padding-top: 10rem;
  padding-bottom: 10rem;

  background: radial-gradient(
      50% 100% at top left,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    ),
    radial-gradient(
      50% 100% at bottom right,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    );

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    background-image: url("../img/choose-us-left-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    column-gap: 3rem;
    background-image: url("../img/choose-us-right-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  &__icon {
    &--user-shield {
      width: 5.7rem;
    }

    &--award {
      width: 3.4rem;
    }

    &--globe {
      width: 4.5rem;
    }

    &--chart-line {
      width: 4.5rem;
    }
  }
}
