.form-block {
  padding: 10rem 0;
  background: radial-gradient(
      50% 100% at top left,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    ),
    radial-gradient(
      50% 100% at bottom right,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    );

  &__image {
    width: 100%;
    border-radius: 0.5rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6rem;
    margin-bottom: 6rem;
    background-image: url("../img/contact-us-form.png");
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-image: url("../img/contact-us-info.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__icon {
    width: 5rem;
    height: 4.5rem;
    fill: $primary-color;
  }

  &__title {
    margin: 0 0 0.7rem 0;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
    color: $heading-color;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    color: $text-color;

    &--link {
      transition: color 0.15s ease-in-out;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@include tablet {
  .form-block {
    padding: 5rem 0;
    &__content {
      grid-template-columns: 1fr;
    }

    &__heading {
      text-align: center;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@include mobile {
  .form-block {
    &__content {
      margin-bottom: 1rem;
    }

    &__list {
      flex-direction: column;
    }
  }
}
