.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 50;

  &__container {
    position: relative;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-bottom: 1.5rem;

  &__left {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__left-item {
    display: flex;
    align-items: flex-start;
    gap: 1.48rem;
  }

  &__icon {
    width: 2.02rem;
    height: 2.1rem;
    fill: $primary-color;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 6.1rem;
  }

  &__link {
    &:first-child {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: -3.05rem;
        width: 1px;
        height: 100%;
        background-color: #dadada;
      }
    }
  }
}

.navbar {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3.5rem;
    font-size: 1.5rem;
    line-height: 1.95rem;
    background: rgba($light-color, 0.25);
    border: 1px solid rgba($light-color, 0.25);
    box-shadow: 0px 1rem 2.5rem rgba($dark-color, 0.05);
    backdrop-filter: blur(1rem);
    border-radius: 5px;
  }

  &__logo {
    flex-shrink: 0;
    width: 19.236rem;
    height: 4.834rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__link:is(:visited, :active, :link).active {
    color: $primary-color;
    cursor: auto;
    opacity: 0.8;
  }
}

.burger {
  @include burger;
  flex-shrink: 0;
  display: none;
}

@include tablet {
  .navbar {
    &__btn {
      display: none;
    }

    &__list {
      gap: 1rem;
    }
  }
}

@include small-tablet {
  .header {
    &__container {
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .topbar {
    margin-bottom: 0;
    padding: 0 2rem;
    font-size: 1.2rem;

    &__left {
      gap: 1.5rem;
    }

    &__links {
      gap: 1.5rem;
    }

    &__link {
      &:first-child {
        &::after {
          display: none;
        }
      }
    }
  }

  .navbar {
    &__inner {
      padding: 2rem;
    }
    &__list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      visibility: hidden;
      opacity: 0;
      right: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      font-size: 2rem;
      background: rgba($light-color, 0.95);
      backdrop-filter: blur(4rem);
      transition: all 0.3s ease-in-out;

      &.menu--active {
        visibility: visible;
        opacity: 1;
        right: 0;
      }
    }
  }

  .burger {
    display: block;
  }
}

@include mobile {
  .topbar {
    margin-top: 1rem;

    &__left {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    &__left-item {
      margin: 0;
    }

    &__links {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
}
