.hero-single {
  padding: 26.7rem 0 10rem 0;

  background: radial-gradient(
      50% 100% at top right,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    ),
    radial-gradient(
      50% 100% at bottom left,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    ),
    url("../img/hero-single-bg.png") no-repeat center, $white-smoke;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
  }
}
