.quote {
  padding-top: 10rem;
  padding-bottom: 10rem;

  background: radial-gradient(
      50% 100% at top left,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    ),
    radial-gradient(
      50% 100% at bottom right,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    );

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;

    & > * {
      align-self: center;
    }
  }

  &__left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: url("../img/quote-left-bg.png");
      position: absolute;
      top: 0;
    }
  }

  &__image {
    display: flex;
  }

  &__badge {
    position: absolute;
    right: 0;
    bottom: 7.2rem;
    padding: 2.1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    background: rgba($light-color, 0.5);
    border: 1px solid rgba($light-color, 0.25);
    box-shadow: 0px 1rem 2.5rem rgba($dark-color, 0.05);
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
  }

  &__badge-icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: $primary-color;
  }

  &__badge-text {
    display: flex;
    flex-direction: column;
  }

  &__badge-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
    color: $heading-color;
  }

  &__badge-subtitle {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin: 0;

    &::after {
      content: url("../img/quote-right-bg.png");
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: rgba($primary-color, 0.2);
  }

  &__blockquote {
    margin: 0;
    text-transform: capitalize;
    color: $heading-color;
    font-weight: 500;
    font-style: italic;
    font-size: 3.5rem;
    line-height: 4.6rem;
    letter-spacing: 1.5px;
  }

  &__author {
    display: flex;
    flex-direction: column;
  }

  &__author-name {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.6rem;
    color: $primary-color;
  }

  &__author-position {
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }
}

@include small-tablet {
  .quote {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__container {
      grid-template-columns: 1fr;
      gap: 0;
    }

    &__right {
      gap: 1rem;
    }

    &__blockquote {
      font-size: 2.5rem;
      line-height: 3.6rem;
      text-align: center;
    }
  }
}
