.services {
  padding-top: 10rem;
  padding-bottom: 10rem;

  background: radial-gradient(
      50% 100% at top left,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    ),
    radial-gradient(
      50% 100% at bottom right,
      rgba($primary-color, 0.3),
      rgba($light-color, 0.5),
      rgba($light-color, 0)
    ),
    $white-smoke;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    text-align: center;
    background-image: url("../img/services-bg.png");
    background-repeat: no-repeat;
    background-position: top center;

    &::before {
      content: url("../img/credit-card.png");
      position: absolute;
      top: 11rem;
      left: 0;
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  &__item {
    border-radius: 0.5rem;

    &--video {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1rem solid $light-color;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__item-btn {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-color;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;

    svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: $primary-color;
    }
  }

  &__more {
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: $heading-color;
  }

  &__link {
    position: relative;
    color: $primary-color;
    transition: color 0.3s ease-in-out;

    svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(150%, -50%);
      width: 2rem;
      height: 2rem;
      fill: currentColor;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: rgba($primary-color, 0.8);

      svg {
        transform: translate(175%, -50%);
      }
    }
  }
}

.modal {
  @include modal;

  .modal-bg {
    background: rgba($light-color, 0.8);
    box-shadow: 0px 1rem 2.5rem rgba($dark-color, 0.05);
    backdrop-filter: blur(1rem);
  }

  .modal-close {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-color;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.46);
    transition: color 0.15s ease-in-out;

    &:hover {
      color: darken($text-color, 10%);
    }
  }
}

@include tablet {
  .services {
    &__list {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
    &__item {
      min-width: 30rem;
      flex: 1 0 calc(100% / 3 - 2 * 2rem);

      &--video {
        min-height: 30rem;
      }
    }
  }
}

@include small-tablet {
  .services {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@include mobile {
  .services {
    &__list {
      flex-direction: column;
      gap: 1rem;
    }

    &__item {
      flex: 1 0 calc(100% / 3 - 2 * 1rem);

      &--video {
        min-height: 30rem;
      }
    }

    &__more {
      font-size: 1.5rem;
    }
  }
}
