<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="#" class="header__link">
        <picture>
          <source srcset="img/logo.avif" type="image/avif" />
          <source srcset="img/logo.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/logo.png"
            class="header__logo-image"
            alt="logo"
          />
        </picture>
        <snap class="header__logo-text">Modeltune</snap>
      </a>
    </div>
  </div>
</header>
