<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">Access to Fine-tuned AI Models via API</h1>
      <p class="hero__subtitle">
        Enter your email to get Early Access and to be the first to get Notified
        on the day of the Launch
      </p>
      <form class="hero__form form">
        <div class="form__control">
          <svg class="form__icon">
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          <input
            class="form__input"
            type="email"
            placeholder="Enter your email"
          />
          <button class="form__btn btn-reset" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="hero__image-wrapper">
      <picture>
        <source srcset="img/hero-bg.avif" type="image/avif" />
        <source srcset="img/hero-bg.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/hero-bg.jpg"
          class="hero__image"
          alt="hero bg"
        />
      </picture>
    </div>
  </div>
</section>
