<section class="models">
  <div class="models__container container">
    <h2 class="models__title">What Base Models have been Fine-tuned?</h2>
    <ul class="models__list list-reset">
      <li class="models__list-item model">
        <picture>
          <source srcset="img/gpt.avif" type="image/avif" />
          <source srcset="img/gpt.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/gpt.png"
            class="model__image"
            alt="gpt"
          />
        </picture>
        <h3 class="model__title">GPT-3</h3>
        <p class="model__subtitle">The popular language model made by OpenAI</p>
      </li>
      <li class="models__list-item model">
        <picture>
          <source srcset="img/stability.avif" type="image/avif" />
          <source srcset="img/stability.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/stability.png"
            class="model__image"
            alt="stability"
          />
        </picture>
        <h3 class="model__title">Stable Diffusion</h3>
        <p class="model__subtitle">The open-source text-to-image model</p>
      </li>
      <li class="models__list-item model">
        <picture>
          <source srcset="img/deep-mind.avif" type="image/avif" />
          <source srcset="img/deep-mind.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/deep-mind.png"
            class="model__image"
            alt="deep mind"
          />
        </picture>
        <h3 class="model__title">More...</h3>
        <p class="model__subtitle">lots of other models as well</p>
      </li>
    </ul>
  </div>
</section>
