<section class="about-block">
  <div class="container about-block__container">
    <div class="about-block__top">
      <div class="about-block__left">
        <picture>
          <source srcset="img/about-block-1.avif" type="image/avif" />
          <source srcset="img/about-block-1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about-block-1.jpg"
            class="about-block__image"
            alt="bussiness woman"
          />
        </picture>
        <div class="about-block__image-wrapper">
          <picture>
            <source srcset="img/about-block-2.avif" type="image/avif" />
            <source srcset="img/about-block-2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/about-block-2.jpg"
              class="about-block__subimage"
              alt="hands holding a card"
            />
          </picture>
        </div>
        <div class="about-block__badge about-block-badge">
          <svg class="about-block-badge__icon">
            <use xlink:href="img/sprite.svg#clock"></use>
          </svg>
          <div class="about-block-badge__text">
            <h4 class="about-block-badge__title">24 Hours Support</h4>
            <p class="about-block-badge__subtitle text">
              Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
      </div>
      <div class="about-block__right">
        <div class="about-block__heading">
          <h2 class="about-block__title section-title">Who We Are</h2>
          <p class="about-block__subtitle section-subtitle">
            We Are #1 Digital Bank & Trusted Financial Invesments
          </p>
          <p class="about-block__descr text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
        <div class="about-block__cards">
          <div class="about-block__card card">
            <svg class="card__icon about-block__icon--award">
              <use xlink:href="img/sprite.svg#award"></use>
            </svg>
            <h3 class="card__title">Best World Awards</h3>
            <p class="card__subtitle">
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
          <div class="about-block__card card">
            <svg class="card__icon about-block__icon--calendar">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <h3 class="card__title">10 Years Experiences</h3>
            <p class="card__subtitle">
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
        </div>
        <ul class="markered-list list-reset">
          <li class="markered-list__list-item">
            <svg>
              <use xlink:href="img/sprite.svg#circle-check"></use>
              <span>Bank Transfer Real Time</span>
            </svg>
          </li>
          <li class="markered-list__list-item">
            <svg>
              <use xlink:href="img/sprite.svg#circle-check"></use>
              <span>Income Resource Monitoring</span>
            </svg>
          </li>
          <li class="markered-list__list-item">
            <svg>
              <use xlink:href="img/sprite.svg#circle-check"></use>
              <span>Free Widthdraw Each Month</span>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-block__bottom">
      <ul class="about-block__list list-reset about-list">
        <li class="about-list__item">
          <div class="about-list__num">350 K</div>
          <div class="about-list__text">People Trut Us</div>
        </li>
        <li class="about-list__item">
          <div class="about-list__num">325</div>
          <div class="about-list__text">Lokal Branch</div>
        </li>
        <li class="about-list__item">
          <div class="about-list__num">24</div>
          <div class="about-list__text">Open Support</div>
        </li>
        <li class="about-list__item">
          <div class="about-list__num">15 Y</div>
          <div class="about-list__text">Years Experiences</div>
        </li>
      </ul>
    </div>
  </div>
</section>
