<section class="app-features">
  <div class="container app-features__container">
    <div class="app-features__info">
      <div class="app-features__descr">
        <h2 class="app-features__title section-title">Key Featueres</h2>
        <p class="app-features__subtitle section-subtitle">
          Single Apps For Many Financial Solutions
        </p>
        <p class="app-features__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <figure class="app-features__quote">
        <blockquote class="app-features__quote-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </blockquote>
        <figcaption class="app-features__quote-caption">John Doe</figcaption>
      </figure>
      <a href="#" class="app-features__btn btn"> Our Full Features </a>
    </div>
    <picture>
      <source srcset="img/app-features.avif" type="image/avif" />
      <source srcset="img/app-features.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/app-features.png"
        class="app-features__image"
        alt="mobile phones with app"
      />
    </picture>
    <ul class="app-features__list list-reset">
      <li class="app-features__list-item feature">
        <svg class="feature__icon">
          <use xlink:href="img/sprite.svg#credit-card"></use>
        </svg>
        <div class="feature__text">
          <h3 class="feature__title">Virtual Debit Card</h3>
          <p class="feature__subtitle">Lorem ipsum dolor sit amet</p>
        </div>
      </li>
      <li class="app-features__list-item feature">
        <svg class="feature__icon">
          <use xlink:href="img/sprite.svg#bank"></use>
        </svg>
        <div class="feature__text">
          <h3 class="feature__title">World Widthdraw Support</h3>
          <p class="feature__subtitle">Lorem ipsum dolor sit amet</p>
        </div>
      </li>
      <li class="app-features__list-item feature">
        <svg class="feature__icon">
          <use xlink:href="img/sprite.svg#piggy-bank"></use>
        </svg>
        <div class="feature__text">
          <h3 class="feature__title">Investments App</h3>
          <p class="feature__subtitle">Lorem ipsum dolor sit amet</p>
        </div>
      </li>
      <li class="app-features__list-item feature">
        <svg class="feature__icon">
          <use xlink:href="img/sprite.svg#bell"></use>
        </svg>
        <div class="feature__text">
          <h3 class="feature__title">Reminder Payment</h3>
          <p class="feature__subtitle">Lorem ipsum dolor sit amet</p>
        </div>
      </li>
    </ul>
  </div>
</section>
