<section class="blog">
  <div class="container blog__container">
    <div class="blog__header">
      <div class="blog__heading">
        <h2 class="blog__title section-title">Reading Blog</h2>
        <p class="blog__subtitle section-subtitle">Our Blog Content</p>
      </div>
      <p class="blog__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>

      <a href="/post.html" class="blog__btn btn">See All Blog</a>
    </div>
    <ul class="blog__list list-reset">
      <li class="blog__post post-preview">
        <div class="post-preview__body">
          <div class="post-preview__image-wrapper">
            <picture>
              <source srcset="img/blog-1.avif" type="image/avif" />
              <source srcset="img/blog-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/blog-1.jpg"
                class="post-preview__image"
                alt="blog"
              />
            </picture>
            <div class="post-preview__badge">Category</div>
          </div>
          <div class="post-preview__text">
            <h3 class="post-preview__title">
              The Woman Business Was Get Success
            </h3>
            <p class="post-preview__descr text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore
            </p>
            <a href="/post.html" class="post-preview__link">Read More »</a>
          </div>
        </div>
        <div class="post-preview__footer">December 14, 2022 • No Comments</div>
      </li>
      <li class="blog__post post-preview">
        <div class="post-preview__body">
          <div class="post-preview__image-wrapper">
            <picture>
              <source srcset="img/blog-2.avif" type="image/avif" />
              <source srcset="img/blog-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/blog-2.jpg"
                class="post-preview__image"
                alt="blog"
              />
            </picture>
            <div class="post-preview__badge">Category</div>
          </div>
          <div class="post-preview__text">
            <h3 class="post-preview__title">
              Lets Know The People Use Digital Bank
            </h3>
            <p class="post-preview__descr text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore
            </p>
            <a href="/post.html" class="post-preview__link">Read More »</a>
          </div>
        </div>
        <div class="post-preview__footer">December 14, 2022 • No Comments</div>
      </li>
      <li class="blog__post post-preview">
        <div class="post-preview__body">
          <div class="post-preview__image-wrapper">
            <picture>
              <source srcset="img/blog-3.avif" type="image/avif" />
              <source srcset="img/blog-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/blog-3.jpg"
                class="post-preview__image"
                alt="blog"
              />
            </picture>
            <div class="post-preview__badge">Category</div>
          </div>
          <div class="post-preview__text">
            <h3 class="post-preview__title">
              Keep On Holiday Your Money Still Work
            </h3>
            <p class="post-preview__descr text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore
            </p>
            <a href="/post.html" class="post-preview__link">Read More »</a>
          </div>
        </div>
        <div class="post-preview__footer">December 14, 2022 • No Comments</div>
      </li>
    </ul>
  </div>
</section>
