<section class="download-timer">
  <picture>
    <source srcset="img/money.avif" type="image/avif" />
    <source srcset="img/money.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/money.jpg"
      class="download-timer__bg"
      alt="background"
      aria-hidden="true"
    />
  </picture>
  <div class="container download-timer__container">
    <div class="download-timer__content">
      <ul class="download-timer__timer timer list-reset">
        <li class="download-timer__timer-item timer-item">
          <span class="timer-item__num" id="days"></span>
          <h3 class="timer-item__title">days</h3>
        </li>
        <li class="download-timer__timer-item timer-item">
          <span class="timer-item__num" id="hours"></span>
          <h3 class="timer-item__title">hours</h3>
        </li>
        <li class="download-timer__timer-item timer-item">
          <span class="timer-item__num" id="minutes"></span>
          <h3 class="timer-item__title">minutes</h3>
        </li>
        <li class="download-timer__timer-item timer-item">
          <span class="timer-item__num" id="seconds"></span>
          <h3 class="timer-item__title">seconds</h3>
        </li>
      </ul>
      <div class="download-timer__heading">
        <h2 class="download-timer__title">
          Lets Download & Register Today For Get Free Credits
        </h2>
        <p class="download-timer__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <div class="apps-btns">
        <a
          href="#"
          class="apps__btn"
          aria-label="download app from google play"
        >
          <picture>
            <source srcset="img/google-app.avif" type="image/avif" />
            <source srcset="img/google-app.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/google-app.png"
              class="apps__btn-image"
              alt="google play"
              width="153.44px"
              height="46.83px"
            />
          </picture>
        </a>
        <a href="#" class="apps__btn" aria-label="download app from app store">
          <picture>
            <source srcset="img/apple-app.avif" type="image/avif" />
            <source srcset="img/apple-app.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/apple-app.png"
              class="apps__btn-image"
              alt="apple store"
              width="141.16px"
              height="47.33px"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
