<section class="facilities">
  <div class="container facilities__container">
    <div class="facilities__heading">
      <h2 class="facilities__title section-title">Our Apps Provided</h2>
      <p class="facilities__subtitle section-subtitle">What Our Apps Can Do</p>
    </div>
    <ul class="facilities__list list-reset">
      <li class="facilities__item card-ext">
        <svg class="card-ext__icon card-ext__icon--rect">
          <use xlink:href="img/sprite.svg#credit-card"></use>
        </svg>
        <div class="card-ext__text">
          <h3 class="card-ext__title">Fully Used Digital Bank Services</h3>
          <p class="card-ext__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut elit
            tellus luctus nec ullamcorper
          </p>
        </div>
        <a href="/detail-service.html" class="card-ext__btn btn"><span>Learn More</span></a>
        <svg class="card-ext__decor-icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </li>
      <li class="facilities__item card-ext">
        <svg class="card-ext__icon card-ext__icon--sq">
          <use xlink:href="img/sprite.svg#chart-line"></use>
        </svg>
        <div class="card-ext__text">
          <h3 class="card-ext__title">Digital Financial Investments</h3>
          <p class="card-ext__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut elit
            tellus luctus nec ullamcorper
          </p>
        </div>
        <a href="/detail-service.html" class="card-ext__btn btn"><span>Learn More</span></a>
        <svg class="card-ext__decor-icon">
          <use xlink:href="img/sprite.svg#chart-line"></use>
        </svg>
      </li>

      <li class="facilities__item card-ext">
        <svg class="card-ext__icon card-ext__icon--rect">
          <use xlink:href="img/sprite.svg#visa"></use>
        </svg>
        <div class="card-ext__text">
          <h3 class="card-ext__title">Fully Used Digital Bank Services</h3>
          <p class="card-ext__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut elit
            tellus luctus nec ullamcorper
          </p>
        </div>
        <a href="/detail-service.html" class="card-ext__btn btn"><span>Learn More</span></a>
        <svg class="card-ext__decor-icon">
          <use xlink:href="img/sprite.svg#visa"></use>
        </svg>
      </li>

      <li class="facilities__item card-ext">
        <svg class="card-ext__icon card-ext__icon--sq">
          <use xlink:href="img/sprite.svg#bank"></use>
        </svg>
        <div class="card-ext__text">
          <h3 class="card-ext__title">Digital Financial Investments</h3>
          <p class="card-ext__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut elit
            tellus luctus nec ullamcorper
          </p>
        </div>
        <a href="/detail-service.html" class="card-ext__btn btn"><span>Learn More</span></a>
        <svg class="card-ext__decor-icon">
          <use xlink:href="img/sprite.svg#shop"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
