<header class="header">
  <div class="container header__container">
    <!-- topbar -->
    <div class="header__topbar topbar">
      <div class="topbar__left">
        <p class="topbar__left-item topbar__left-item--phone">
          <svg aria-hidden="true" class="topbar__icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <a href="tel:+62123456789">( +62 ) 123 456 789</a>
        </p>
        <p class="topbar__left-item topbar__left-item--time">
          <svg aria-hidden="true" class="topbar__icon">
            <use xlink:href="img/sprite.svg#clock"></use>
          </svg>
          <span>08 AM - 10 PM</span>
        </p>
      </div>
      <div class="topbar__right">
        <ul class="topbar__links list-reset">
          <li class="topbar__link"><a href="#">Referal Programs</a></li>
          <li class="topbar__link"><a href="#">Get Our Apps</a></li>
        </ul>
      </div>
    </div>
    <!-- navbar -->
    <nav class="header__navbar navbar">
      <a href="#" class="navbar__logo">
        <picture>
          <source srcset="img/logo.avif" type="image/avif" />
          <source srcset="img/logo.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/logo.png"
            class="navbar__logo-img"
            alt="logo"
          />
        </picture>
      </a>
      <ul class="navbar__list list-reset">
        <li class="navbar__list-item">
          <a href="#" class="navbar__link">Homepage</a>
        </li>
        <li class="navbar__list-item">
          <a href="#" class="navbar__link">About</a>
        </li>
        <li class="navbar__list-item">
          <a href="#" class="navbar__link">Services</a>
        </li>
        <li class="navbar__list-item">
          <a href="#" class="navbar__link">Features</a>
        </li>
        <li class="navbar__list-item">
          <a href="#" class="navbar__link">Gallery</a>
        </li>
        <li class="navbar__list-item">
          <a href="#" class="navbar__link">Pages</a>
        </li>
      </ul>
      <a href="#" class="navbar__bnt">Get Started</a>
    </nav>
  </div>
</header>
