<header class="header">
  <div class="container header__container">
    <!-- topbar -->
    <div class="header__topbar topbar">
      <div class="topbar__left">
        <p class="topbar__left-item topbar__left-item--phone">
          <svg aria-hidden="true" class="topbar__icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <a class="link" href="tel:+62123456789">( +62 ) 123 456 789</a>
        </p>
        <p class="topbar__left-item topbar__left-item--time">
          <svg aria-hidden="true" class="topbar__icon">
            <use xlink:href="img/sprite.svg#clock"></use>
          </svg>
          <span>08 AM - 10 PM</span>
        </p>
      </div>
      <div class="topbar__right">
        <ul class="topbar__links list-reset">
          <li class="topbar__link">
            <a class="link" href="#">Referal Programs</a>
          </li>
          <li class="topbar__link">
            <a class="link" href="#">Get Our Apps</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- navbar -->
    <nav class="header__navbar navbar">
      <div class="navbar__inner">
        <a href="#" class="navbar__logo">
          <picture>
            <source srcset="img/logo.avif" type="image/avif" />
            <source srcset="img/logo.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/logo.png"
              class="navbar__logo-img"
              alt="logo"
            />
          </picture>
        </a>
        <ul class="navbar__list list-reset">
          <li class="navbar__list-item">
            <a href="#" class="navbar__link link">
              <span>Homepage</span>
            </a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link link">
              <span>About</span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link link">
              <span>Services</span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link link">
              <span>Features</span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link link">
              <span>Gallery</span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="navbar__list-item">
            <a href="#" class="navbar__link link">
              <span>Pages</span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow-down"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="#" class="navbar__btn btn">Get Started</a>
      </div>
    </nav>
  </div>
</header>
