<section class="hero-services">
  <div class="container hero-services__container">
    <div class="hero-services__content">
      <ul class="hero-services__breadcrumbs breadcrumbs list-reset">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">Homepage</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__current">Our Services</span>
        </li>
      </ul>
      <div class="hero-services__heading">
        <h1 class="page-title">Our <span>Services</span></h1>
        <p class="hero-services__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
    </div>
    <div class="hero-services__image-block">
      <picture>
        <source srcset="img/hero-services.avif" type="image/avif" />
        <source srcset="img/hero-services.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/hero-services.jpg"
          class="hero-services__image"
          alt="phone"
        />
      </picture>
      <div class="hero-services__badge badge">
        <svg class="badge__icon">
          <use xlink:href="img/sprite.svg#google"></use>
        </svg>
        <div class="badge__text">
          <span class="badge__title">4.8 Google Rating</span>
          <span class="badge__subtitle">Lorem ipsum dolor sit amet</span>
        </div>
      </div>
    </div>
  </div>
</section>
