<section class="hero-minor">
  <div class="hero-minor__container container">
    <div class="hero-minor__content">
      <ul class="hero-minor__breadcrumbs breadcrumbs list-reset">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">Homepage</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__current">About Us</span>
        </li>
      </ul>
      <div class="hero-minor__heading">
        <h1 class="page-title">About <span>Us</span></h1>
        <p class="hero-minor__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
    </div>
  </div>
</section>
