<section class="hero-blog">
  <div class="hero-blog__container container">
    <div class="hero-blog__content">
      <ul class="hero-blog__breadcrumbs breadcrumbs list-reset">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">Homepage</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__current">Blog Page</span>
        </li>
      </ul>
      <div class="hero-blog__heading">
        <h1 class="page-title">Blog <span>Page</span></h1>
        <p class="hero-blog__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
    </div>
  </div>
</section>
