<section class="hero-contacts">
  <div class="container hero-contacts__container">
    <div class="hero-contacts__content">
      <ul class="hero-contacts__breadcrumbs breadcrumbs list-reset">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__link">Homepage</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__current">Contacts</span>
        </li>
      </ul>
      <div class="hero-contacts__heading">
        <h1 class="page-title">Contact <span>Us</span></h1>
        <p class="hero-contacts__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
    </div>
  </div>
</section>
