<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title section-title">Digital Bank & Invesments</h1>
      <p class="hero__subtitle section-subtitle">
        Get
        <span>Easy Digital Transaction </span> & Safe Invesments
      </p>
      <p class="hero__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <div class="hero__btn-group">
        <a href="#" class="hero__btn btn">Get Started</a>
        <a href="#" class="hero__btn btn btn--light">Learn More</a>
      </div>
    </div>
    <picture>
      <source srcset="img/card.avif" type="image/avif" />
      <source srcset="img/card.webp" type="image/webp" />
      <img loading="lazy" src="img/card.png" class="hero__image" alt="card" />
    </picture>
  </div>
</section>
