<section class="newslater">
  <div class="container newslater__container">
    <div class="newslater__heading">
      <h2 class="newslater__title section-title">Subscribe Our Newslater</h2>
      <p class="newslater__subtitle section-subtitle">Get The Latest Update</p>
    </div>
    <form class="newslater__form newslater-form">
      <input type="email" placeholder="email" class="newslater-form__input" />
      <button type="submit" class="btn btn-reset newslater-form__btn">
        Subscribe
      </button>
    </form>
  </div>
</section>
