<section class="post-content">
  <div class="container post-content__container">
    <article class="post-content__main post-main">
      <header class="post-main__header">
        <picture>
          <source srcset="img/post-main.avif" type="image/avif" />
          <source srcset="img/post-main.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/post-main.jpg"
            class="post-main__image"
            alt="money"
          />
        </picture>
        <ul class="list-reset post-main__meta">
          <li class="post-meta">
            <svg class="post-meta__icon post-meta__icon--calendar">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="post-meta__text">December 14, 2022</span>
          </li>
          <li class="post-meta">
            <svg class="post-meta__icon post-meta__icon--cloud">
              <use xlink:href="img/sprite.svg#cloud"></use>
            </svg>
            <span class="post-meta__text">No Comments</span>
          </li>
        </ul>
        <h3 class="post-main__title">
          Stop Spending Now Lets Investments Grow
        </h3>

        <ul class="list-reset post-main__socials">
          <li class="post-main__social post-social">
            <a href="#" class="post-social__link post-social__link--fb">
              <svg class="post-social__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="post-main__social post-social">
            <a href="#" class="post-social__link post-social__link--tw">
              <svg class="post-social__icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="post-main__social post-social">
            <a href="#" class="post-social__link post-social__link--in">
              <svg class="post-social__icon">
                <use xlink:href="img/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="post-main__social post-social">
            <a href="#" class="post-social__link post-social__link--wa">
              <svg class="post-social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </header>
      <section class="post-main__content">
        <p class="post-main__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <p class="post-main__text text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
        <p class="post-main__text text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
        <p class="post-main__text text">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
          sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
          tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem.
        </p>
        <p class="post-main__text text">
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
          autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
          nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
          voluptas nulla pariatur?
        </p>
        <p class="post-main__text text">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga.
        </p>
        <p class="post-main__text text">
          Et harum quidem rerum facilis est et expedita distinctio. Nam libero
          tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
          minus id quod maxime placeat facere possimus, omnis voluptas assumenda
          est, omnis dolor repellendus.
        </p>
        <p class="post-main__text text">
          Temporibus autem quibusdam et aut officiis debitis aut rerum
          necessitatibus saepe eveniet ut et voluptates repudiandae sint et
          molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
          delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
          perferendis doloribus asperiores repellat.
        </p>
      </section>
    </article>

    <aside class="post-content__sidebar post-sidebar">
      <form class="post-sidebar__search post-search">
        <input class="post-search__input" type="text" placeholder="Search..." />
        <button
          class="post-search__btn btn-reset"
          type="submit"
          aria-label="search"
        >
          <svg class="post-search__icon">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>

      <div class="post-sidebar__categories post-categories">
        <h4 class="post-categories__title">Post Categories</h4>
        <ul class="post-categories__list list-reset">
          <li class="post-categories__item">
            <a class="post-categories__link" href="#">General Post</a>
          </li>
          <li class="post-categories__item">
            <a class="post-categories__link" href="#">Digital Bank</a>
          </li>
          <li class="post-categories__item">
            <a class="post-categories__link" href="#">Meetup Tips</a>
          </li>
          <li class="post-categories__item">
            <a class="post-categories__link" href="#">Other Post</a>
          </li>
        </ul>
      </div>

      <div class="post-sidebar__recent post-recent-links">
        <h4 class="post-recent-links__title">Recent Post</h4>
        <ul class="list-reset post-recent-links__list">
          <li class="post-recent-links__item post-recent">
            <picture>
              <source srcset="img/post-recent-1.avif" type="image/avif" />
              <source srcset="img/post-recent-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/post-recent-1.jpg"
                class="post-recent__image"
                alt="post"
              />
            </picture>
            <div class="post-recent__text">
              <h5 class="post-recent__title">
                The Woman Business Was Get Success
              </h5>
              <div class="post-recent__date">December 14, 2022</div>
              <a href="/post.html" class="post-recent__link">Read More »</a>
            </div>
          </li>
          <li class="post-recent-links__item post-recent">
            <picture>
              <source srcset="img/post-recent-2.avif" type="image/avif" />
              <source srcset="img/post-recent-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/post-recent-2.jpg"
                class="post-recent__image"
                alt="post"
              />
            </picture>
            <div class="post-recent__text">
              <h5 class="post-recent__title">
                Digital Mutation For Management Money
              </h5>
              <div class="post-recent__date">December 14, 2022</div>
              <a href="/post.html" class="post-recent__link">Read More »</a>
            </div>
          </li>
          <li class="post-recent-links__item post-recent">
            <picture>
              <source srcset="img/post-recent-3.avif" type="image/avif" />
              <source srcset="img/post-recent-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/post-recent-3.jpg"
                class="post-recent__image"
                alt="post"
              />
            </picture>
            <div class="post-recent__text">
              <h5 class="post-recent__title">
                The Man Transaction With Digital Bank
              </h5>
              <div class="post-recent__date">December 14, 2022</div>
              <a href="/post.html" class="post-recent__link">Read More »</a>
            </div>
          </li>
          <li class="post-recent-links__item post-recent">
            <picture>
              <source srcset="img/post-recent-4.avif" type="image/avif" />
              <source srcset="img/post-recent-4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/post-recent-4.jpg"
                class="post-recent__image"
                alt="post"
              />
            </picture>
            <div class="post-recent__text">
              <h5 class="post-recent__title">
                How To Used The Digital Banking For Easy
              </h5>
              <div class="post-recent__date">December 14, 2022</div>
              <a href="/post.html" class="post-recent__link">Read More »</a>
            </div>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</section>
