<section class="qna">
  <div class="container qna__container">
    <div class="qna__left">
      <picture>
        <source srcset="img/qna.avif" type="image/avif" />
        <source srcset="img/qna.webp" type="image/webp" />
        <img loading="lazy" src="img/qna.jpg" class="qna__image" alt="hello" />
      </picture>
      <div class="qna__badge qna-badge">
        <svg class="qna-badge__icon">
          <use xlink:href="img/sprite.svg#envelope"></use>
          <div class="qna-badge__text">
            <h4 class="qna-badge__title">Lets Contact Us</h4>
            <a class="qna-badge__subtitle text" href="mailto:hello@email.com">
              Hello@Email.com
            </a>
          </div>
        </svg>
      </div>
    </div>
    <div class="qna__right">
      <div class="qna__heading">
        <h2 class="section-title">Don't Choose Wrong</h2>
        <p class="section-subtitle">
          We Give The Easy & Next Future Generation Of Digital Banking
        </p>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>

      <!-- accordion -->
      <ul class="qna__accordion accordion list-reset">
        <li class="accordion__item open">
          <button class="accordion__control btn-reset" aria-expanded="false">
            <span class="accordion__title">How Long Verification ?</span>
            <svg class="accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio,
            neque qui velit. Magni dolorum quidem ipsam eligendi, totam, facilis
            laudantium cum accusamus ullam voluptatibus commodi numquam, error,
            est. Ea, consequatur.
          </div>
        </li>
        <li class="accordion__item">
          <button class="accordion__control btn-reset" aria-expanded="false">
            <span class="accordion__title">What The Featured ?</span>
            <svg class="accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio,
            neque qui velit. Magni dolorum quidem ipsam eligendi, totam, facilis
            laudantium cum accusamus ullam voluptatibus commodi numquam, error,
            est. Ea, consequatur.
          </div>
        </li>
        <li class="accordion__item">
          <button class="accordion__control btn-reset" aria-expanded="false">
            <span class="accordion__title">Can I Get Free Account ?</span>
            <svg class="accordion__icon">
              <use xlink:href="img/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <div class="accordion__content" aria-hidden="true">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio,
            neque qui velit. Magni dolorum quidem ipsam eligendi, totam, facilis
            laudantium cum accusamus ullam voluptatibus commodi numquam, error,
            est. Ea, consequatur.
          </div>
        </li>
      </ul>
      <!-- end accordion -->

      <a href="#" class="btn">Let's Know More</a>
    </div>
  </div>
</section>
