<section class="qna">
  <div class="container qna__container">
    <div class="qna__left">
      <picture>
        <source srcset="img/qna.avif" type="image/avif" />
        <source srcset="img/qna.webp" type="image/webp" />
        <img loading="lazy" src="img/qna.jpg" class="qna__image" alt="hello" />
      </picture>
      <div class="qna__badge qna-badge">
        <svg class="qna-badge__icon">
          <use xlink:href="img/sprite.svg#envelope"></use>
          <div class="qna-badge__text">
            <h4 class="qna-badge__title">Lets Contact Us</h4>
            <a class="qna-badge__subtitle text" href="mailto:Hello@Email.com">
              Hello@Email.com
            </a>
          </div>
        </svg>
      </div>
    </div>
    <div class="qna__right"></div>
  </div>
</section>
