<section class="quote">
  <div class="container quote__container">
    <div class="quote__left">
      <picture>
        <source srcset="img/quote-left.avif" type="image/avif" />
        <source srcset="img/quote-left.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/quote-left.png"
          class="quote__image"
          alt="woman with credit card"
        />
      </picture>
      <div class="quote__badge">
        <svg class="quote__badge-icon">
          <use xlink:href="img/sprite.svg#google"></use>
        </svg>
        <div class="quote__badge-text">
          <span class="quote__badge-title">4.8 Google Rating</span>
          <span class="quote__badge-subtitle">Lorem ipsum dolor sit amet</span>
        </div>
      </div>
    </div>
    <figure class="quote__right">
      <svg class="quote__icon">
        <use xlink:href="img/sprite.svg#quote"></use>
      </svg>
      <blockquote class="quote__blockquote">
        "More Than 600 Transaction Each Day Can We Automate With Abang Digital
        Banking"
      </blockquote>
      <figcaption class="quote__author">
        <div class="quote__author-name">Mrs. John Cole</div>
        <div class="quote__author-position">Business Owner</div>
      </figcaption>
    </figure>
  </div>
</section>
