<section class="reasons">
  <div class="container reasons__container">
    <div class="reasons__left">
      <div class="reasons__heading">
        <h2 class="section-title">Why CHoose Us</h2>
        <p class="section-subtitle">
          Our Financial Business Value & Invesments Benefits
        </p>
        <p class="reasons__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <a class="btn" href="#">Lets Get Started</a>
    </div>
    <ul class="reasons__right list-reset">
      <li class="resons__reason card">
        <svg class="card__icon reason__icon--user-shield">
          <use xlink:href="img/sprite.svg#user-shield"></use>
        </svg>
        <h3 class="card__title">Secure Digital Information Data</h3>
        <p class="card__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="resons__reason card">
        <svg class="card__icon reason__icon--award">
          <use xlink:href="img/sprite.svg#award"></use>
        </svg>
        <h3 class="card__title">Best Digital Bank Awards World</h3>
        <p class="card__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="resons__reason card">
        <svg class="card__icon reason__icon--globe">
          <use xlink:href="img/sprite.svg#globe"></use>
        </svg>
        <h3 class="card__title">Friendship Credit Transfer Free</h3>
        <p class="card__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="resons__reason card">
        <svg class="card__icon reason__icon--chart-line">
          <use xlink:href="img/sprite.svg#chart-line"></use>
        </svg>
        <h3 class="card__title">Investments & Consistency Grow</h3>
        <p class="card__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
    </ul>
  </div>
</section>
