<section class="service">
  <div class="container">
    <div class="service__top service-top">
      <div class="video-block service-top__video-block">
        <video
          class="video service-top__video"
          src="./videos/money.mp4"
          muted
          preload="metadata"
          poster="./img/money.jpg"
        ></video>
        <a
          href="/detail-service.html"
          class="video-block__play service-top__play-btn btn-reset"
        >
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </a>
      </div>
      <div class="service__descr">
        <div class="service__info">
          <h3 class="service__title">Overview</h3>
          <p class="service__subtitle">Service Description</p>
          <div class="service__text-wrapper">
            <p class="service__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
            <p class="service__text text">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.
            </p>
          </div>
        </div>
        <div class="service__list">
          <h3 class="service__title">Service Benefits</h3>
          <p class="service__subtitle">Features Benefits</p>
          <ul class="markered-list list-reset">
            <li class="markered-list__list-item">
              <svg>
                <use xlink:href="img/sprite.svg#circle-check"></use>
                <span>Bank Transfer Real Time</span>
              </svg>
            </li>
            <li class="markered-list__list-item">
              <svg>
                <use xlink:href="img/sprite.svg#circle-check"></use>
                <span>Income Resource Monitoring</span>
              </svg>
            </li>
            <li class="markered-list__list-item">
              <svg>
                <use xlink:href="img/sprite.svg#circle-check"></use>
                <span>Free Widthdraw Each Month</span>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="service__bottom service-bottom">
      <div class="service-bottom__benefit benefit">
        <picture>
          <source srcset="img/benefit-1.avif" type="image/avif" />
          <source srcset="img/benefit-1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefit-1.jpg"
            class="benefit__image"
            alt="benefit 1"
          />
        </picture>
        <div class="benefit__info">
          <h3 class="service__title">Payment Support</h3>
          <p class="service__subtitle">
            Easy Make Payment From Digital Debit Card With Free Extra Phisic
            Card
          </p>
          <p class="benefit__text text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo.
          </p>
        </div>
      </div>
      <div class="service-bottom__benefit benefit benefit--reverse">
        <picture>
          <source srcset="img/benefit-2.avif" type="image/avif" />
          <source srcset="img/benefit-2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/benefit-2.jpg"
            class="benefit__image"
            alt="benefit 2"
          />
        </picture>
        <div class="benefit__info">
          <h3 class="service__title">Buy Now Pay Later</h3>
          <p class="service__subtitle">
            Get Benefits For Easy Have Your Dream Gadget Or What You Want
          </p>
          <p class="benefit__text text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
