<section class="services">
  <div class="container services__container">
    <div class="services__heading">
      <h2 class="services__title section-title">Our Apps Provided</h2>
      <p class="services__subtitle section-subtitle">What Our Apps Can Do</p>
    </div>
    <ul class="services__list list-reset">
      <li class="services__item services__item--card card-ext">
        <svg class="card-ext__icon card-ext__icon--rect">
          <use xlink:href="img/sprite.svg#credit-card"></use>
        </svg>
        <div class="card-ext__text">
          <h3 class="card-ext__title">Fully Used Digital Bank Services</h3>
          <p class="card-ext__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <button class="card-ext__btn btn"><span>Learn More</span></button>

        <svg class="card-ext__decor-icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </li>
      <li class="services__item services__item--card card-ext">
        <svg class="card-ext__icon card-ext__icon--sq">
          <use xlink:href="img/sprite.svg#chart-column"></use>
        </svg>
        <div class="card-ext__text">
          <h3 class="card-ext__title">Digital Financial Investments</h3>
          <p class="card-ext__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <button class="card-ext__btn btn">Learn More</button>

        <svg class="card-ext__decor-icon">
          <use xlink:href="img/sprite.svg#chart-line"></use>
        </svg>
      </li>
      <li class="services__item services__item--video">
        <picture>
          <source
            srcset="img/services-video-placeholder.avif"
            type="image/avif"
          />
          <source
            srcset="img/services-video-placeholder.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/services-video-placeholder.jpg"
            alt="video"
          />
        </picture>
        <a data-modal="modal-one" class="services__item-btn">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="services__more">
      Lets Discover More
      <a class="services__link" href="#">
        <span>Our Services</span>
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="modal" id="modal-one">
    <div class="modal-bg modal-exit"></div>
    <div class="modal-container video-block">
      <video
        class="modal__content video"
        src="./videos/smartphone.mp4"
        muted
        loop
        preload="metadata"
      ></video>
      <button class="video-block__play btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <button class="modal-close modal-exit">&#10006;</button>
    </div>
  </div>
</section>
