<section class="services">
  <div class="container services__container">
    <div class="services__heading">
      <h2 class="services__title section-title">Our Apps Provided</h2>
      <p class="services__subtitle section-subtitle">What Our Apps Can Do</p>
    </div>
    <ul class="services__list list-reset">
      <li class="services__item services__item--card service-card">
        <svg class="service-card__icon service-card__icon--card">
          <use xlink:href="img/sprite.svg#credit-card"></use>
        </svg>
        <div class="service-card__text">
          <h3 class="service-card__title">Fully Used Digital Bank Services</h3>
          <p class="service-card__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <button class="service-card__btn btn"><span>Learn More</span></button>
        <!-- <div class="service-card__bg"></div> -->
        <svg class="service-card__decor-icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </li>
      <li class="services__item services__item--card service-card">
        <svg class="service-card__icon service-card__icon--chart">
          <use xlink:href="img/sprite.svg#chart-column"></use>
        </svg>
        <div class="service-card__text">
          <h3 class="service-card__title">Digital Financial Investments</h3>
          <p class="service-card__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
        <button class="service-card__btn btn">Learn More</button>
        <!-- <div class="service-card__bg"></div> -->
        <svg class="service-card__decor-icon">
          <use xlink:href="img/sprite.svg#chart-line"></use>
        </svg>
      </li>
      <li class="services__item services__item--video">
        <picture>
          <source
            srcset="img/services-video-placeholder.avif"
            type="image/avif"
          />
          <source
            srcset="img/services-video-placeholder.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/services-video-placeholder.jpg"
            alt="video"
          />
        </picture>
        <button class="services__item-btn btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="services__more">
      Lets Discover More
      <a class="services__link" href="#">
        <span>Our Services</span>
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
