<section class="showcase">
  <div class="container showcase__container">
    <div class="showcase__image-wrapper">
      <div class="showcase__card-icon">
        <svg>
          <use xlink:href="img/sprite.svg#credit-card"></use>
        </svg>
      </div>
      <picture>
        <source srcset="img/phones.avif" type="image/avif" />
        <source srcset="img/phones.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/phones.png"
          class="showcase__imgage"
          alt="phones"
        />
      </picture>
      <div class="showcase__badge">
        <span class="showcase__badge-num">350 k</span>
        <span class="showcase__badge-text">Active Users</span>
      </div>
    </div>
    <div class="showcase__content">
      <div class="showcase__heading">
        <h2 class="section-title showcase__title">All In One</h2>
        <p class="section-subtitle showcase__subtitle">
          One Apps For Any Financial Purpose & Absolutely Best For You
        </p>
        <p class="showcase__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <ul class="markered-list list-reset">
        <li class="markered-list__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#circle-check"></use>
            <span>Bank Transfer Real Time</span>
          </svg>
        </li>
        <li class="markered-list__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#circle-check"></use>
            <span>Income Resource Monitoring</span>
          </svg>
        </li>
        <li class="markered-list__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#circle-check"></use>
            <span>Free Widthdraw Each Month</span>
          </svg>
        </li>
      </ul>
      <div class="apps-btns">
        <a
          href="#"
          class="apps__btn"
          aria-label="download app from google play"
        >
          <picture>
            <source srcset="img/google-app.avif" type="image/avif" />
            <source srcset="img/google-app.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/google-app.png"
              class="apps__btn-image"
              alt="google play"
              width="153.44px"
              height="46.83px"
            />
          </picture>
        </a>
        <a href="#" class="apps__btn" aria-label="download app from app store">
          <picture>
            <source srcset="img/apple-app.avif" type="image/avif" />
            <source srcset="img/apple-app.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/apple-app.png"
              class="apps__btn-image"
              alt="apple store"
              width="141.16px"
              height="47.33px"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
