<section class="start">
  <div class="container start__container">
    <div class="swiper start-slider">
      <div class="swiper-wrapper">
        <div class="start__top swiper-slide">
          <div class="start__headings">
            <h2 class="start__title section-title">Lets Get Started</h2>
            <p class="start__subtitle section-subtitle">
              Easy Registration Steps
            </p>
          </div>
          <div class="start__people start-people">
            <ul class="start-people__images list-reset">
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-1.avif" type="image/avif" />
                  <source srcset="img/people-1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-1.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-2.avif" type="image/avif" />
                  <source srcset="img/people-2.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-2.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-3.avif" type="image/avif" />
                  <source srcset="img/people-3.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-3.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
            </ul>
            <div class="start-people__text">
              <div class="start-people__num">350 k</div>
              <div class="start-people__title">People Trut Us</div>
            </div>
          </div>
        </div>

        <div class="swiper-slide start__top">
          <div class="start__headings">
            <h2 class="start__title section-title">Lets Get Started</h2>
            <p class="start__subtitle section-subtitle">
              Easy Registration Steps
            </p>
          </div>
          <div class="start__people start-people">
            <ul class="start-people__images list-reset">
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-1.avif" type="image/avif" />
                  <source srcset="img/people-1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-1.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-2.avif" type="image/avif" />
                  <source srcset="img/people-2.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-2.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-3.avif" type="image/avif" />
                  <source srcset="img/people-3.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-3.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
            </ul>
            <div class="start-people__text">
              <div class="start-people__num">350 k</div>
              <div class="start-people__title">People Trut Us</div>
            </div>
          </div>
        </div>

        <div class="swiper-slide start__top">
          <div class="start__headings">
            <h2 class="start__title section-title">Lets Get Started</h2>
            <p class="start__subtitle section-subtitle">
              Easy Registration Steps
            </p>
          </div>
          <div class="start__people start-people">
            <ul class="start-people__images list-reset">
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-1.avif" type="image/avif" />
                  <source srcset="img/people-1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-1.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-2.avif" type="image/avif" />
                  <source srcset="img/people-2.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-2.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
              <li class="start-people__item">
                <picture>
                  <source srcset="img/people-3.avif" type="image/avif" />
                  <source srcset="img/people-3.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/people-3.jpg"
                    class="start-people__image"
                    alt="people"
                  />
                </picture>
              </li>
            </ul>
            <div class="start-people__text">
              <div class="start-people__num">350 k</div>
              <div class="start-people__title">People Trut Us</div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-reset start-slider__next" aria-label="next slide">
        <div class="start-slider__next-icon">
          <svg>
            <use xlink:href="img/sprite.svg#chevron-right"></use>
          </svg>
        </div>
      </button>
      <div class="start-slider__pagination"></div>
    </div>
    <ul class="start__list list-reset">
      <li class="start__list-item">
        <div class="start__card start-card">
          <picture>
            <source srcset="img/start-1.avif" type="image/avif" />
            <source srcset="img/start-1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/start-1.png"
              class="start-card__image"
              alt="card"
            />
          </picture>
          <div class="start-card__text">
            <h3 class="start-card__title">Register Account</h3>
            <p class="start-card__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </li>
      <li class="start__list-item">
        <div class="start__card start-card">
          <picture>
            <source srcset="img/start-2.avif" type="image/avif" />
            <source srcset="img/start-2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/start-2.png"
              class="start-card__image"
              alt="card"
            />
          </picture>
          <div class="start-card__text">
            <h3 class="start-card__title">Request a Card</h3>
            <p class="start-card__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </li>
      <li class="start__list-item">
        <div class="start__card start-card">
          <picture>
            <source srcset="img/start-3.avif" type="image/avif" />
            <source srcset="img/start-3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/start-3.png"
              class="start-card__image"
              alt="card"
            />
          </picture>
          <div class="start-card__text">
            <h3 class="start-card__title">We Delivery Card</h3>
            <p class="start-card__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
