<section class="team">
  <div class="container team__container">
    <div class="team__heading">
      <h2 class="team__title section-title">Meet The Team</h2>
      <p class="team__subtitle section-subtitle">Lets Met With Our Team</p>
    </div>
    <ul class="team__list list-reset">
      <li class="team__list-item team-member">
        <div class="team-member__image-wrapper">
          <picture>
            <source srcset="img/team-1.avif" type="image/avif" />
            <source srcset="img/team-1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/team-1.jpg"
              class="team-member__image"
              alt="team member founder"
            />
          </picture>
        </div>

        <div class="team-member__info">
          <div class="team-member__heading">
            <h3 class="team-member__title">Mrs. Camero</h3>
            <div class="team-member__subtitle">Founder</div>
          </div>
          <p class="team-member__descr text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <ul class="team-member__socials list-reset">
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#facebook-f"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__list-item team-member">
        <div class="team-member__image-wrapper">
          <picture>
            <source srcset="img/team-2.avif" type="image/avif" />
            <source srcset="img/team-2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/team-2.jpg"
              class="team-member__image"
              alt="team member director"
            />
          </picture>
        </div>

        <div class="team-member__info">
          <div class="team-member__heading">
            <h3 class="team-member__title">Mr. John Doe</h3>
            <div class="team-member__subtitle">Director</div>
          </div>
          <p class="team-member__descr text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <ul class="team-member__socials list-reset">
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#facebook-f"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__list-item team-member">
        <div class="team-member__image-wrapper">
          <picture>
            <source srcset="img/team-3.avif" type="image/avif" />
            <source srcset="img/team-3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/team-3.jpg"
              class="team-member__image"
              alt="team ofiice member"
            />
          </picture>
        </div>
        <div class="team-member__info">
          <div class="team-member__heading">
            <h3 class="team-member__title">Mrs. Cristina</h3>
            <div class="team-member__subtitle">Team Office</div>
          </div>
          <p class="team-member__descr text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <ul class="team-member__socials list-reset">
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#facebook-f"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__list-item team-member">
        <div class="team-member__image-wrapper">
          <picture>
            <source srcset="img/team-4.avif" type="image/avif" />
            <source srcset="img/team-4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/team-4.jpg"
              class="team-member__image"
              alt="team office member"
            />
          </picture>
        </div>

        <div class="team-member__info">
          <div class="team-member__heading">
            <h3 class="team-member__title">Mrs. Pairang</h3>
            <div class="team-member__subtitle">Team Ofiice</div>
          </div>
          <p class="team-member__descr text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <ul class="team-member__socials list-reset">
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#facebook-f"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-member__social">
              <a href="facebook.com" class="team-member__social-link">
                <svg class="team-member__social-icon">
                  <use xlink:href="img/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
