<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__heading">
      <h2 class="testimonials__title section-title">Clients Feedback</h2>
      <p class="testimonials__subtitle section-subtitle">
        More Than 350K People Use Us & Get Best Bank Experience
      </p>
    </div>
    <div class="swiper testimonials__slider">
      <div class="swiper-wrapper testimonials__slider-wrapper">
        <!-- Slides -->
        <div class="testimonial swiper-slide">
          <figure class="testimonial__inner">
            <blockquote class="testimonial__quote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </blockquote>
            <div class="tesimonial__author author">
              <picture>
                <source srcset="img/testimonial-1.avif" type="image/avif" />
                <source srcset="img/testimonial-1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/testimonial-1.jpg"
                  class="author__image"
                  alt="author"
                />
              </picture>
              <div class="author__credits">
                <h4 class="author__title">Henry Reynolds</h4>
                <div class="author__position">CEO</div>
              </div>
            </div>
          </figure>
        </div>
        <div class="testimonial swiper-slide">
          <figure class="testimonial__inner">
            <blockquote class="testimonial__quote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </blockquote>
            <div class="tesimonial__author author">
              <picture>
                <source srcset="img/testimonial-2.avif" type="image/avif" />
                <source srcset="img/testimonial-2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/testimonial-2.jpg"
                  class="author__image"
                  alt="author"
                />
              </picture>
              <div class="author__credits">
                <h4 class="author__title">Karen Donovan</h4>
                <div class="author__position">HR</div>
              </div>
            </div>
          </figure>
        </div>
        <div class="testimonial swiper-slide">
          <figure class="testimonial__inner">
            <blockquote class="testimonial__quote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </blockquote>
            <div class="tesimonial__author author">
              <picture>
                <source srcset="img/testimonial-3.avif" type="image/avif" />
                <source srcset="img/testimonial-3.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/testimonial-3.jpg"
                  class="author__image"
                  alt="author"
                />
              </picture>
              <div class="author__credits">
                <h4 class="author__title">Scarlett Mercado</h4>
                <div class="author__position">CFO</div>
              </div>
            </div>
          </figure>
        </div>
        <div class="testimonial swiper-slide">
          <figure class="testimonial__inner">
            <blockquote class="testimonial__quote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </blockquote>
            <div class="tesimonial__author author">
              <picture>
                <source srcset="img/testimonial-4.avif" type="image/avif" />
                <source srcset="img/testimonial-4.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/testimonial-4.jpg"
                  class="author__image"
                  alt="author"
                />
              </picture>
              <div class="author__credits">
                <h4 class="author__title">Phillip Harmon</h4>
                <div class="author__position">Manager</div>
              </div>
            </div>
          </figure>
        </div>
        <div class="testimonial swiper-slide">
          <figure class="testimonial__inner">
            <blockquote class="testimonial__quote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </blockquote>
            <div class="tesimonial__author author">
              <picture>
                <source srcset="img/testimonial-5.avif" type="image/avif" />
                <source srcset="img/testimonial-5.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/testimonial-5.jpg"
                  class="author__image"
                  alt="author"
                />
              </picture>
              <div class="author__credits">
                <h4 class="author__title">Rico Lawson</h4>
                <div class="author__position">Engeneer</div>
              </div>
            </div>
          </figure>
        </div>
        <div class="testimonial swiper-slide">
          <figure class="testimonial__inner">
            <blockquote class="testimonial__quote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </blockquote>
            <div class="tesimonial__author author">
              <picture>
                <source srcset="img/testimonial-6.avif" type="image/avif" />
                <source srcset="img/testimonial-6.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/testimonial-6.jpg"
                  class="author__image"
                  alt="author"
                />
              </picture>
              <div class="author__credits">
                <h4 class="author__title">Zackary Strickland</h4>
                <div class="author__position">Designer</div>
              </div>
            </div>
          </figure>
        </div>
      </div>

      <div class="testimonials__slider-pagination"></div>
    </div>
  </div>
</section>
