<section class="trust-us">
  <div class="container trust-us__container">
    <h2 class="trust-us__title">Lets Trust Us & Get More Easy Life</h2>
    <div class="trust-us__btns apps-btns">
      <a href="#" class="apps__btn" aria-label="download app from google play">
        <picture>
          <source srcset="img/google-app.avif" type="image/avif" />
          <source srcset="img/google-app.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/google-app.png"
            class="apps__btn-image"
            alt="google play"
            width="153.44px"
            height="46.83px"
          />
        </picture>
      </a>
      <a href="#" class="apps__btn" aria-label="download app from app store">
        <picture>
          <source srcset="img/apple-app.avif" type="image/avif" />
          <source srcset="img/apple-app.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/apple-app.png"
            class="apps__btn-image"
            alt="apple store"
            width="141.16px"
            height="47.33px"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
